/* == BASE == */
body {
    background: url('../images/pattern_background.jpg') no-repeat center center fixed #4381BA;
    background-size: cover;
    overflow-x: hidden;
}

/* == HEADER == */
header {
    position: relative;
    height: 100vh;
    margin-top: 30vh;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    -webkit-transform: translateY(300px) scale(.5);
            transform: translateY(300px) scale(.5);
}

.pageLoaded header {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
}

header img {
    position: absolute;
    width: 100%;
    top: 0;
    max-width: 700px;
    padding: 0 5vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
@media(min-width: 700px) {
    header {
        height: 80vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    header img {
        /*height: 100%;
        width: auto;*/
        padding: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}

/* == SECTIONS == */
section {
    position: relative;
    height: 100vh;
    margin-top: 30vh;
}
section img {
    position: absolute;
    width: 100%;
    top: 0;
    max-width: 700px;
    padding: 0 5vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
@media(min-width: 700px) {
    section {
        height: 80vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    section img {
        /*height: 100%;
        width: auto;*/
        padding: 0;
    }
    section.drinks img,
    section.slide img {
        left: 10vw;
    }
    section.dinner img {
        right: 10vw;
    }
}

/* == FOOTER == */
footer {
    position: relative;
    height: 100vh;
    margin-top: 30vh;
}
footer img {
    position: absolute;
    width: 100%;
    top: 0;
    max-width: 700px;
    padding: 0 5vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
@media(min-width: 700px) {
    footer {
        height: 80vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    footer > div {
        width: 700px;
        height: 700px;
        position: relative;
        margin: auto;
    }
    footer img {
        /*height: 100%;
        width: auto;*/
        padding: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}

/* == DETAILS == */
.jungle {
    top: 150px;
    opacity: 0;
    -webkit-transition: top .4s ease-in-out, opacity .4s ease-in-out;
    transition: top .4s ease-in-out, opacity .4s ease-in-out;
}
.jungle.active {
    top: 0;
    opacity: 1;
}
.bash {
    top: -150px;
    opacity: 0;
    -webkit-transition: top .4s ease-in-out, opacity .4s ease-in-out;
    transition: top .4s ease-in-out, opacity .4s ease-in-out;
}
.bash.active {
    top: 0;
    opacity: 1;
}
.chain {
    opacity: 0;
}
.glasses {
    opacity: 0;
}
.date {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}
.date.active {
    opacity: 1;
}

/* == DRINKS == */
.drinks img {
    opacity: 0;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    -webkit-transition: opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
    transition: opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
    transition: opacity .4s ease-in-out, transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}
.drinks.active img {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.drinks .indian_pattern {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}
.drinks .indian_pattern.active {
    opacity: 1;
}

/* == DINNER == */
.dinner {
    opacity: 0;
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    -webkit-transition: opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
    transition: opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
    transition: opacity .4s ease-in-out, transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}
.dinner.active {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.flames {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
}

/* == SLIDE == */
.slide {
    opacity: 0;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    -webkit-transition: opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
    transition: opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
    transition: opacity .4s ease-in-out, transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}
.slide.active {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.ball {
    opacity: 0;
    -webkit-transform: scale(0) translateY(-100%);
            transform: scale(0) translateY(-100%);
    -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
    transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
.ball.active {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
}
.water_splash {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
}

/* == INVITE == */
.invite_pattern {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}
.invite_pattern.active {
    opacity: 1;
}

.invite {

    position: relative;
}

.invite_textContent {
    padding: 0 20px;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.invite_text {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    font-weight: bold;
    color: #6d0800;
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 30px;
    padding: 0 10px;
}

.invite_question {
    font-family: Impact, Charcoal, sans-serif;
    padding: 0 10px;
    letter-spacing: 3px;
    text-align: center;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.invite_bg {
    /*width: 60%;
    top: 150px;
    height: calc(100% - 150px);*/

    width: 90%;
    top: 100px;
    height: calc(100% - 100px);

    position: absolute;
    background-color: #ffaa00;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid #990e6e;
    border-radius: 50px;

    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}



.invite_bg.active {
    opacity: 1;
}
.invite_title {
    opacity: 0;
    top: -20%;
    -webkit-transition: opacity .4s ease-in-out, top .4s ease-in-out;
    transition: opacity .4s ease-in-out, top .4s ease-in-out;
}
.invite_title.active {
    opacity: 1;
    top: 0;
}
.invite_form {
    position: absolute;
    /*bottom: 100px;*/
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 250px;
    opacity: 0;
    -webkit-transition: bottom .4s ease-in-out, opacity .4s ease-in-out;
    transition: bottom .4s ease-in-out, opacity .4s ease-in-out;
}
.invite_form.active {
    /*bottom: 165px;*/
    top : 350px;
    opacity: 1;
}
input[type="email"], input[type="text"] {
    border: none;
    border-bottom: 2px solid #990E6E;
    background: none;
    color: #6D0800;
    font-size: 22px;
    line-height: 30px;
    padding: 2px 20px 2px 0;
    margin: 0 0 20px;
    text-align: left;
}
input[type="email"]:focus, input[type="text"]:focus,
.invite_form > div > input:focus {
    outline: none;
}
input[type="email"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #6D0800;
}
input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #6D0800;
   opacity: 1;
}
input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #6D0800;
   opacity: 1;
}
input[type="email"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #6D0800;
}
input[type="email"]::-ms-input-placeholder, input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
   color: #6D0800;
}
.invite_form > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.invite_form > div > input {
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    height: 40px;
    width: 50%;
    text-indent: -99999px;
    /*margin: 0 10px;*/
    background-color: white;
    border-radius: 10px;

    transition: all .1s ease-in-out;

    -webkit-box-shadow: 6px 6px 1px 0px rgba(185, 185, 185, 1);
    -moz-box-shadow:    6px 6px 1px 0px rgba(185, 185, 185, 1);
    box-shadow:         6px 6px 1px 0px rgba(185, 185, 185, 1);
    transform: translateY(0);
}

.invite_form > div > input:nth-child(1) {
    margin-right: 30px;
}

.invite_form > div > input:active {
    -webkit-box-shadow: 0px 0px 1px 0px rgba(185, 185, 185, 1);
    -moz-box-shadow:    0px 0px 1px 0px rgba(185, 185, 185, 1);
    box-shadow:         0px 0px 1px 0px rgba(185, 185, 185, 1);
    transform: translateY(6px);
}

.invite_form > div > input:hover {
    cursor: pointer;
}
.yes {
    background-image: url('../images/4_invite/yes.svg');
}
.no {
    background-image: url('../images/4_invite/no.svg');
}

/* == VIDEOS == */
.video {
    background: #4381BA;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: scale(.8);
            transform: scale(.8);
    -webkit-transition: opacity .4s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: opacity .4s ease-in-out, -webkit-transform .2s ease-in-out;
    transition: opacity .4s ease-in-out, transform .2s ease-in-out;
    transition: opacity .4s ease-in-out, transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.video.active {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 1;
}
.video video {
    margin: auto;
    width: 100%;
}

/* == ATTENDING  == */
#attending_list {
    color: white;
    font-size: 18px;
    line-height: 26px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding: 20px;
}
#attending_list hr:first-child {
    margin-top: 0;
}

/* == ANIMATIONS == */
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/* Details */
.glasses_animation {
    -webkit-animation-name: glasses_animation;
            animation-name: glasses_animation;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}
@-webkit-keyframes glasses_animation {
    from {top: 50px;opacity: 0;}
    to {top: 0;opacity: 1;}
}
@keyframes glasses_animation {
    from {top: 50px;opacity: 0;}
    to {top: 0;opacity: 1;}
}
.chain_animation {
    -webkit-animation-name: chain_animation;
            animation-name: chain_animation;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}
@-webkit-keyframes chain_animation {
    from {top: -50px;opacity: 0;}
    to {top: 0;opacity: 1;}
}
@keyframes chain_animation {
    from {top: -50px;opacity: 0;}
    to {top: 0;opacity: 1;}
}

/* Drinks */
.shake_drink_animation {
  -webkit-animation-name: shake_drink;
          animation-name: shake_drink;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes shake_drink {
  from, to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translate3d(0, -8px, 0);transform: translate3d(0, -8px, 0);}
  20%, 40%, 60%, 80% {-webkit-transform: translate3d(0, 8px, 0);transform: translate3d(0, 8px, 0);}
}
@keyframes shake_drink {
  from, to {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translate3d(0, -8px, 0);transform: translate3d(0, -8px, 0);}
  20%, 40%, 60%, 80% {-webkit-transform: translate3d(0, 8px, 0);transform: translate3d(0, 8px, 0);}
}
.bottle_hands_left_animation {
  -webkit-animation-name: swing_bottle_hands_left;
          animation-name: swing_bottle_hands_left;
}
@-webkit-keyframes swing_bottle_hands_left {
    from {-webkit-transform-origin: right;transform-origin: right;-webkit-transform: rotate3d(0, 0, 1, -5deg);transform: rotate3d(0, 0, 1, -5deg);}
    50% {-webkit-transform-origin: right;transform-origin: right;-webkit-transform: rotate3d(0, 0, 1, 5deg);transform: rotate3d(0, 0, 1, 5deg);}
    to {-webkit-transform-origin: right;transform-origin: right;-webkit-transform: rotate3d(0, 0, 1, -5deg);transform: rotate3d(0, 0, 1, -5deg);}
}
@keyframes swing_bottle_hands_left {
    from {-webkit-transform-origin: right;transform-origin: right;-webkit-transform: rotate3d(0, 0, 1, -5deg);transform: rotate3d(0, 0, 1, -5deg);}
    50% {-webkit-transform-origin: right;transform-origin: right;-webkit-transform: rotate3d(0, 0, 1, 5deg);transform: rotate3d(0, 0, 1, 5deg);}
    to {-webkit-transform-origin: right;transform-origin: right;-webkit-transform: rotate3d(0, 0, 1, -5deg);transform: rotate3d(0, 0, 1, -5deg);}
}
.bottle_hands_right_animation {
  -webkit-animation-name: swing_bottle_hands_right;
          animation-name: swing_bottle_hands_right;
}
@-webkit-keyframes swing_bottle_hands_right {
    from {-webkit-transform-origin: left;transform-origin: left;-webkit-transform: rotate3d(0, 0, 1, 5deg);transform: rotate3d(0, 0, 1, 5deg);}
    50% {-webkit-transform-origin: left;transform-origin: left;-webkit-transform: rotate3d(0, 0, 1, -5deg);transform: rotate3d(0, 0, 1, -5deg);}
    to {-webkit-transform-origin: left;transform-origin: left;-webkit-transform: rotate3d(0, 0, 1, 5deg);transform: rotate3d(0, 0, 1, 5deg);}
}
@keyframes swing_bottle_hands_right {
    from {-webkit-transform-origin: left;transform-origin: left;-webkit-transform: rotate3d(0, 0, 1, 5deg);transform: rotate3d(0, 0, 1, 5deg);}
    50% {-webkit-transform-origin: left;transform-origin: left;-webkit-transform: rotate3d(0, 0, 1, -5deg);transform: rotate3d(0, 0, 1, -5deg);}
    to {-webkit-transform-origin: left;transform-origin: left;-webkit-transform: rotate3d(0, 0, 1, 5deg);transform: rotate3d(0, 0, 1, 5deg);}
}

/* Dinner */
.flames_animation {
    -webkit-animation-name: flames_animation;
            animation-name: flames_animation;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
}
@-webkit-keyframes flames_animation {
    from {-webkit-transform: scale(.1);transform: scale(.1);opacity: 0;}
    75% {-webkit-transform: scale(1.1);transform: scale(1.1);opacity: 1;}
    to {-webkit-transform: scale(1);transform: scale(1);opacity: 1;}
}
@keyframes flames_animation {
    from {-webkit-transform: scale(.1);transform: scale(.1);opacity: 0;}
    75% {-webkit-transform: scale(1.1);transform: scale(1.1);opacity: 1;}
    to {-webkit-transform: scale(1);transform: scale(1);opacity: 1;}
}

/* Slide */
.ball_bounce_animation {
  -webkit-animation-name: ball_bounce_animation;
          animation-name: ball_bounce_animation;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@-webkit-keyframes ball_bounce_animation {
  from, 50%, 80%, to {-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
  30% {-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -30px, 0);transform: translate3d(0, -30px, 0);}
  70% {-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -15px, 0);transform: translate3d(0, -15px, 0);}
  90% {-webkit-transform: translate3d(0,-4px,0);transform: translate3d(0,-4px,0);}
}
@keyframes ball_bounce_animation {
  from, 50%, 80%, to {-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
  30% {-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -30px, 0);transform: translate3d(0, -30px, 0);}
  70% {-webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);-webkit-transform: translate3d(0, -15px, 0);transform: translate3d(0, -15px, 0);}
  90% {-webkit-transform: translate3d(0,-4px,0);transform: translate3d(0,-4px,0);}
}

.elephant_animation {
  -webkit-animation-name: elephant_animation;
          animation-name: elephant_animation;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@-webkit-keyframes elephant_animation {
  from, 11.1%, to {-webkit-transform: none;transform: none;}
  22.2% {-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);transform: skewX(-12.5deg) skewY(-12.5deg);}
  33.3% {-webkit-transform: skewX(6.25deg) skewY(6.25deg);transform: skewX(6.25deg) skewY(6.25deg);}
  44.4% {-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);transform: skewX(-3.125deg) skewY(-3.125deg);}
  55.5% {-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);transform: skewX(1.5625deg) skewY(1.5625deg);}
  66.6% {-webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);transform: skewX(-0.78125deg) skewY(-0.78125deg);}
  77.7% {-webkit-transform: skewX(0.390625deg) skewY(0.390625deg);transform: skewX(0.390625deg) skewY(0.390625deg);}
  88.8% {-webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);transform: skewX(-0.1953125deg) skewY(-0.1953125deg);}
}
@keyframes elephant_animation {
  from, 11.1%, to {-webkit-transform: none;transform: none;}
  22.2% {-webkit-transform: skewX(-12.5deg) skewY(-12.5deg);transform: skewX(-12.5deg) skewY(-12.5deg);}
  33.3% {-webkit-transform: skewX(6.25deg) skewY(6.25deg);transform: skewX(6.25deg) skewY(6.25deg);}
  44.4% {-webkit-transform: skewX(-3.125deg) skewY(-3.125deg);transform: skewX(-3.125deg) skewY(-3.125deg);}
  55.5% {-webkit-transform: skewX(1.5625deg) skewY(1.5625deg);transform: skewX(1.5625deg) skewY(1.5625deg);}
  66.6% {-webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);transform: skewX(-0.78125deg) skewY(-0.78125deg);}
  77.7% {-webkit-transform: skewX(0.390625deg) skewY(0.390625deg);transform: skewX(0.390625deg) skewY(0.390625deg);}
  88.8% {-webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);transform: skewX(-0.1953125deg) skewY(-0.1953125deg);}
}

.water_splash_animation {
    -webkit-animation-name: water_splash_animation;
            animation-name: water_splash_animation;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
}
@-webkit-keyframes water_splash_animation {
    from {-webkit-transform: scale(0);transform: scale(0);opacity: 0;}
    to {-webkit-transform: scale(1);transform: scale(1);opacity: 1;}
}
@keyframes water_splash_animation {
    from {-webkit-transform: scale(0);transform: scale(0);opacity: 0;}
    to {-webkit-transform: scale(1);transform: scale(1);opacity: 1;}
}


body.pageLoading {
    overflow: hidden;
    max-height: 100vh;
}

.intro {
    font-family: Impact, Charcoal, sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    background: #03344a;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform .6s ease-in-out;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.intro__text {
    font-size: 25px;
    /*outline: 1px solid green;*/
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 3px;
}

.intro__content {
    /*outline: 1px solid yellow;*/
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pageLoaded .intro {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
}


/* LOADER BEGIN */

.overlay_loader {

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
}
.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    animation-name: rotateAnim;
    animation-duration: .35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.loader div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.loader div:nth-child(odd) {
    border-top: none;
    border-left: none;
}
.loader div:nth-child(even) {
    border-bottom: none;
    border-right: none;
}
.loader div:nth-child(2) {
    border-width: 2px;
    left: 0px;
    top: -4px;
    width: 12px;
    height: 12px;
}
.loader div:nth-child(3) {
    border-width: 2px;
    left: -1px;
    top: 3px;
    width: 18px;
    height: 18px;
}
.loader div:nth-child(4) {
    border-width: 3px;
    left: -1px;
    top: -4px;
    width: 24px;
    height: 24px;
}
.loader div:nth-child(5) {
    border-width: 3px;
    left: -1px;
    top: 4px;
    width: 32px;
    height: 32px;
}
.loader div:nth-child(6) {
    border-width: 4px;
    left: 0px;
    top: -4px;
    width: 40px;
    height: 40px;
}
.loader div:nth-child(7) {
    border-width: 4px;
    left: 0px;
    top: 6px;
    width: 50px;
    height: 50px;
}
@keyframes rotateAnim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* LOADER END */


@media(min-width: 400px) {

    .invite_textContent {
        top: 80px;
    }

    .invite_bg {
        width: 90%;
        top: 150px;
        height: calc(100% - 150px);
    }


}

@media(min-width: 700px) {

    .invite_textContent {
        top: 100px;
    }

    .invite_bg {
        width: 60%;
        top: 150px;
        height: calc(100% - 150px);
    }
    .invite_form.active {
        top: 400px;
    }
}
