/* == BASE == */
body {
    background: url('../images/pattern_background.jpg') no-repeat center center fixed #4381BA;
    background-size: cover;
    overflow-x: hidden;
}

/* == HEADER == */
header {
    position: relative;
    height: 100vh;
    margin-top: 30vh;
    transition: transform .6s ease-in-out;
    transform: translateY(300px) scale(.5);
}

.pageLoaded header {
    transform: translateY(0) scale(1);
}

header img {
    position: absolute;
    width: 100%;
    top: 0;
    max-width: 700px;
    padding: 0 5vw;
    box-sizing: border-box;
}
@media(min-width: 700px) {
    header {
        height: 80vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    header img {
        height: 100%;
        width: auto;
        padding: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* == SECTIONS == */
section {
    position: relative;
    height: 100vh;
    margin-top: 30vh;
}
section img {
    position: absolute;
    width: 100%;
    top: 0;
    max-width: 700px;
    padding: 0 5vw;
    box-sizing: border-box;
}
@media(min-width: 700px) {
    section {
        height: 80vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    section img {
        height: 100%;
        width: auto;
        padding: 0;
    }
    section.drinks img,
    section.slide img {
        left: 10vw;
    }
    section.dinner img {
        right: 10vw;
    }
}

/* == FOOTER == */
footer {
    position: relative;
    height: 100vh;
    margin-top: 30vh;
}
footer img {
    position: absolute;
    width: 100%;
    top: 0;
    max-width: 700px;
    padding: 0 5vw;
    box-sizing: border-box;
}
@media(min-width: 700px) {
    footer {
        height: 80vh;
        margin-top: 10vh;
        margin-bottom: 10vh;
        display: flex;
    }
    footer > div {
        width: 700px;
        height: 700px;
        position: relative;
        margin: auto;
    }
    footer img {
        height: 100%;
        width: auto;
        padding: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* == DETAILS == */
.jungle {
    top: 150px;
    opacity: 0;
    transition: top .4s ease-in-out, opacity .4s ease-in-out;
}
.jungle.active {
    top: 0;
    opacity: 1;
}
.bash {
    top: -150px;
    opacity: 0;
    transition: top .4s ease-in-out, opacity .4s ease-in-out;
}
.bash.active {
    top: 0;
    opacity: 1;
}
.chain {
    opacity: 0;
}
.glasses {
    opacity: 0;
}
.date {
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.date.active {
    opacity: 1;
}

/* == DRINKS == */
.drinks img {
    opacity: 0;
    transform: translateX(-30%);
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}
.drinks.active img {
    opacity: 1;
    transform: translateY(0);
}
.drinks .indian_pattern {
    transform: translateX(0);
    transition: opacity .4s ease-in-out;
}
.drinks .indian_pattern.active {
    opacity: 1;
}

/* == DINNER == */
.dinner {
    opacity: 0;
    transform: translateX(30%);
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}
.dinner.active {
    opacity: 1;
    transform: translateY(0);
}
.flames {
    opacity: 0;
    transform: scale(0);
}

/* == SLIDE == */
.slide {
    opacity: 0;
    transform: translateX(-30%);
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}
.slide.active {
    opacity: 1;
    transform: translateY(0);
}
.ball {
    opacity: 0;
    transform: scale(0) translateY(-100%);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.ball.active {
    opacity: 1;
    transform: scale(1) translateY(0);
}
.water_splash {
    transform: scale(0);
    opacity: 0;
}

/* == INVITE == */
.invite_pattern {
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.invite_pattern.active {
    opacity: 1;
}
.invite_bg {
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.invite_bg.active {
    opacity: 1;
}
.invite_title {
    opacity: 0;
    top: -20%;
    transition: opacity .4s ease-in-out, top .4s ease-in-out;
}
.invite_title.active {
    opacity: 1;
    top: 0;
}
.invite_form {
    position: absolute;
    bottom: 300px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: 250px;
    opacity: 0;
    transition: bottom .4s ease-in-out, opacity .4s ease-in-out;
}
.invite_form.active {
    bottom: 220px;
    opacity: 1;
}
input[type="email"] {
    border: none;
    border-bottom: 2px solid #990E6E;
    background: none;
    color: #6D0800;
    font-size: 22px;
    line-height: 30px;
    padding: 2px 20px;
    margin: 0 0 20px;
    text-align: center;
}
input[type="email"]:focus,
.invite_form > div > input:focus {
    outline: none;
}
input[type="email"]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #6D0800;
}
input[type="email"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #6D0800;
   opacity: 1;
}
input[type="email"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #6D0800;
   opacity: 1;
}
input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #6D0800;
}
input[type="email"]::-ms-input-placeholder { /* Microsoft Edge */
   color: #6D0800;
}
.invite_form > div {
    display: flex;
}
.invite_form > div > input {
    background-size: auto 40px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    height: 40px;
    width: 50%;
    text-indent: -99999px;
    margin: 0 10px;
    background-color: Transparent;
}
.invite_form > div > input:hover {
    cursor: pointer;
}
.yes {
    background-image: url('../images/4_invite/yes.svg');
}
.no {
    background-image: url('../images/4_invite/no.svg');
}

/* == VIDEOS == */
.video {
    background: #4381BA;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: scale(.8);
    transition: opacity .4s ease-in-out, transform .2s ease-in-out;
    z-index: -1;
    display: flex;
}
.video.active {
    opacity: 1;
    transform: scale(1);
    z-index: 1;
}
.video video {
    margin: auto;
    width: 100%;
}

/* == ATTENDING  == */
#attending_list {
    color: white;
    font-size: 18px;
    line-height: 26px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding: 20px;
}
#attending_list hr:first-child {
    margin-top: 0;
}

/* == ANIMATIONS == */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

/* Details */
.glasses_animation {
    animation-name: glasses_animation;
    animation-iteration-count: 1;
}
@keyframes glasses_animation {
    from {top: 50px;opacity: 0;}
    to {top: 0;opacity: 1;}
}
.chain_animation {
    animation-name: chain_animation;
    animation-iteration-count: 1;
}
@keyframes chain_animation {
    from {top: -50px;opacity: 0;}
    to {top: 0;opacity: 1;}
}

/* Drinks */
.shake_drink_animation {
  animation-name: shake_drink;
  animation-duration: 2s;
}
@keyframes shake_drink {
  from, to {transform: translate3d(0, 0, 0);}
  10%, 30%, 50%, 70%, 90% {transform: translate3d(0, -8px, 0);}
  20%, 40%, 60%, 80% {transform: translate3d(0, 8px, 0);}
}
.bottle_hands_left_animation {
  animation-name: swing_bottle_hands_left;
}
@keyframes swing_bottle_hands_left {
    from {transform-origin: right;transform: rotate3d(0, 0, 1, -5deg);}
    50% {transform-origin: right;transform: rotate3d(0, 0, 1, 5deg);}
    to {transform-origin: right;transform: rotate3d(0, 0, 1, -5deg);}
}
.bottle_hands_right_animation {
  animation-name: swing_bottle_hands_right;
}
@keyframes swing_bottle_hands_right {
    from {transform-origin: left;transform: rotate3d(0, 0, 1, 5deg);}
    50% {transform-origin: left;transform: rotate3d(0, 0, 1, -5deg);}
    to {transform-origin: left;transform: rotate3d(0, 0, 1, 5deg);}
}

/* Dinner */
.flames_animation {
    animation-name: flames_animation;
    animation-iteration-count: 1;
    animation-duration: .8s;
}
@keyframes flames_animation {
    from {transform: scale(.1);opacity: 0;}
    75% {transform: scale(1.1);opacity: 1;}
    to {transform: scale(1);opacity: 1;}
}

/* Slide */
.ball_bounce_animation {
  animation-name: ball_bounce_animation;
  transform-origin: center bottom;
  animation-iteration-count: 1;
}
@keyframes ball_bounce_animation {
  from, 50%, 80%, to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);transform: translate3d(0,0,0);}
  30% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transform: translate3d(0, -30px, 0);}
  70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);transform: translate3d(0, -15px, 0);}
  90% {transform: translate3d(0,-4px,0);}
}

.elephant_animation {
  animation-name: elephant_animation;
  transform-origin: center;
  animation-iteration-count: 1;
}
@keyframes elephant_animation {
  from, 11.1%, to {transform: none;}
  22.2% {transform: skewX(-12.5deg) skewY(-12.5deg);}
  33.3% {transform: skewX(6.25deg) skewY(6.25deg);}
  44.4% {transform: skewX(-3.125deg) skewY(-3.125deg);}
  55.5% {transform: skewX(1.5625deg) skewY(1.5625deg);}
  66.6% {transform: skewX(-0.78125deg) skewY(-0.78125deg);}
  77.7% {transform: skewX(0.390625deg) skewY(0.390625deg);}
  88.8% {transform: skewX(-0.1953125deg) skewY(-0.1953125deg);}
}

.water_splash_animation {
    animation-name: water_splash_animation;
    animation-iteration-count: 1;
    animation-duration: .5s;
}
@keyframes water_splash_animation {
    from {transform: scale(0);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
}


body.pageLoading {
    overflow: hidden;
}

.intro {
    width: 100%;
    height: 100vh;
    background: #03344a;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .6s ease-in-out;
    transform: translateY(0);
}

.pageLoaded .intro {
    transform: translateY(-100vh);
}
